<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/polar-space/assets/css/foundation-6.5.1.css">
	<link rel="stylesheet" href="/polar-space/assets/css/app.css">
	<script>
		var pathname = window.location.pathname
		var replaced = pathname = pathname.replace(/^\/polar-space\/?/, '')
		window.location = 'https://corporeality.space/' + replaced
	</script>
</head>
